$appBackground: #0080FF;
$elemsBackground: rgb(0,0,140);
$loadingBackground: rgb(50,200,255);
$referenceColor: rgb(255,255,255);

$color0: rgb(64,64,64);
$color1: rgb(220,220,220);

$grey: rgba(0, 0, 0, 0.5);

@mixin lineDirection() {
	display: flex;
	flex-direction: row;
}

@mixin columnDirection() {
	display: flex;
	flex-direction: column;
}

@mixin pointPath() {
	width: 5px;
	height: 5px;
	margin: 0;
	border: 1px solid $referenceColor;
	border-radius: 100px;
}

@mixin shield($top, $left) {
	position: absolute;
	top: $top;
	left: $left;
}

@mixin image($width, $height) {
	background-repeat: no-repeat;
	width: $width;
	height: $height;
	background-size: 100% 100%;
}



* {
	margin: 0;
	padding: 0;
	outline: none;
	font-family: arial;
	color: rgb(255,255,255);
}

#root {
	width: 100%;
	height: 500px;
	padding-top: 1%;
}
.App {
	background-color: $appBackground;
	width: 25%;
	margin: 0 auto;
	position: relative;
	@include columnDirection();

	@media screen and (max-width: 1600px) {
		width: 30%;
	}
	@media screen and (max-width: 1200px) {
		width: 35%;
	}

	@media screen and (max-width: 800px) {
		width: 50%;
	}
	
	@media screen and (max-width: 640px) {
		width: 70%;
	}
	@media screen and (max-width: 400px) {
		width: 100%;
	}
	
	.Head {
		height: 10%;
		background: url(../images/logo.png) no-repeat;
		background-size: 80px 100%;
		background-position: left top;
		position: relative;
		margin-bottom: 20px;
		.reference {
			position: absolute;
			top: 5px;
			right: 10px;
		}
	}

	.Navigation {
		nav {
			ul {
				list-style: none;
				text-transform: uppercase;
				font-size: 50%;
				@include lineDirection();
				li {
					text-align: center;
					flex-grow: 1;
					padding-bottom: 5px;

					&.active {
						font-weight: bolder;
						border-bottom: 2px solid $referenceColor;
					}
				}
			}
		}
	}

	.Route {
		padding-top: 2%;
		padding-right: 10%;
		margin-bottom: 20px;
		//height: 100px;
		@include lineDirection();
		//flex-grow: 1;
		position: relative;
		.path {
			flex-grow: 1;
			@include lineDirection();
			.image {
				@include columnDirection();
				width: auto;
				height: 90%;
				margin: 0 auto;
				padding-top: 15%;
				div {
					border-left: 1px dashed $referenceColor;
					height: 80%;
					margin: 0 auto;
				}
				div:first-child {
					@include pointPath();
				}
				div:last-child {
					@include pointPath();
					justify-content: center;
					align-items: center;
					p {
						border-radius: 100px;
						background-color: $referenceColor;
						width: 3px;
						height: 3px;
						margin-top: 1px;
						margin-left: 1px;
					}
				}
			}
		}
		.directions {
			position: relative;
			flex-grow: 4;
			flex-direction: column;
			.direction {
				height: 50%;
				font-size: 70%;
				font-weight: normal;
				border-bottom: 1px solid $referenceColor;
				padding-bottom: 4px;
				cursor: pointer;
				&:nth-child(2n) {//last-child не поможет.
					border: none;
					padding-top: 10px;
					padding-bottom: 0;
				}
				h5 {
					
				}
				span {
					font-size: 50%;
					opacity: 0.8;
				}


			}
			.castling {
				position: absolute;
				right: 0;
				top: 40%;
				transform: rotate(45deg);
				padding: 1px 4px;
				background-color: $elemsBackground;
				border-radius: 3px;
				cursor: pointer;
				&:hover {
					span{
						opacity: 0.8;
					}
				}
				span {
					display: inline-block;
					transform: rotate(45deg);
				}
			}
		}
	}
	.RouteDetails {
		border: 1px solid $referenceColor;
		border-left: none;
		border-right: none;
		padding: 5px 0;
		.wrap {
			@include lineDirection();
			margin: 0 auto;
			padding-left: 17%;
			.date-block {
				@include columnDirection();
				align-self: center;
				font-size: 80%;
				cursor: pointer;
				span {
					font-size: 60%;
					margin-bottom: 5px;
				}
			}
			.date-block:first-child {
				margin-right: 20%;
			}

			.add {
				padding: 10px 1%;
				background-color: $elemsBackground;
				border: none;
				border-radius: 2px;
				cursor: pointer;
				margin-right: 10px;
				&:active {
					color: darken($referenceColor, 50%);
					background-color: lighten($elemsBackground, 10%);
				}
			}
		}
	}
	.Tickets {
		@include lineDirection();
		justify-content: flex-start;
		align-items: stretch;
		padding-left: 17%;
		.ticket-count {
			@include columnDirection();
			margin-right: 10%;
			padding-top: 30px;
			justify-content: flex-end;
			position: relative;
			.add, .remove {
				text-align: center;
				padding: 4px 0; //Для ловли нажатия
				cursor: pointer;
				width: 100%;
			}
			.add {
				@include shield(0, 0);
			}
			.wrap {
				@include lineDirection();
				align-items: flex-end;
				p {
					font-size: 70%;
				}
				img {
					width: 20px;
					height: 30px;
					margin-left: 10px;

				}
			}
			span {
				font-size: 40%;
				padding: 10px 0 5px 0;
				text-align: center;
			}
			&:nth-child(2) {
				img {
					width: 15px;
					height: 20px;
				}
			}
			&:nth-child(3) {
				img {
					width: 10px;
					height: 15px;
				}
			}
		}
	}
	.SearchTickets {
		bottom: 0;
		
		background-color: $elemsBackground;
		padding: 5px;
		p {
			text-align: center;
		}
	}
	.Loading {
		@include shield(0, 0);
		width: 100%;
		height: 100%;
		background-color: $loadingBackground;
		.sidebar {
			@include shield(45%, 45%);
			width: 50px;
			height: 50px;
			background: url(../images/icons/reload.png) no-repeat;
			background-size: 100% 100%;
			background-position: 0% 0%;

			@keyframes rotate-load {
				from {transform: rotate(0deg)}
				to {transform: rotate(360deg)}
			}
			animation: rotate-load 1s infinite linear;
		}
	}

	.ListCities {
		@include shield(0, 0);
		width: 90%;
		height: 90%;
		overflow: hidden;
		background-color: $appBackground;
		padding: 5% 5% 5% 5%;
		.wrap-content {
			@include lineDirection();

			.wrap-image {	
				padding-top: 10px;	
				margin-right: 20px;
				.image {
					@include pointPath();
					justify-content: center;
					align-items: center;
					p {
						border-radius: 100px;
						background-color: $referenceColor;
						width: 3px;
						height: 3px;
						margin-top: 1px;
						margin-left: 1px;
					}
				}
			}
			.wrap-list {
				//flex-grow: 3;
				width: 70%;
				@include columnDirection();
				.search-input {
					//width: 80%;
					padding-bottom: 1px;
					input {
						//width: 95%;
						background-color: $appBackground;
						border: none;
						color: white;
					}
					margin-bottom: 10px;
				}
				.text {
					font-size: 40%;
					border-bottom: 1px solid $referenceColor;
					padding-bottom: 5px;
					margin-bottom: 10px;
				}
				ul {
					list-style: none;
					height: 400px;
					
					overflow: auto;
					li {
						padding: 5px 5px;
						margin-bottom: 10px;
						cursor: pointer;
					}
				}
			}
		}
	}
	.Calendar {
		@include shield(5%, 30%);
		height: 270px;
		overflow-y: hidden;
		background-color: $referenceColor;
		box-shadow: 0 0 5px 0 rgb(0,0,0);
		.wrap-content {
			width: 100%;
			height: 100%;
			.head {
				padding: 5px;
				text-transform: lowercase;
				background-color: $appBackground; 
				p:first-child {
					font-size: 50%;
				}
			}
			.month-list {
				background-color: $referenceColor;
				height: 70%;
				overflow-x: hidden;
				overflow-y: auto;
				padding: 0 5%;
				margin-bottom: 10px;
				padding-top: 10px;
				font-size: 50%;
				.month {
					margin-bottom: 10px;

					table {
						caption {
							margin-bottom: 10px;
							color: rgb(0,0,0);
							font-weight: bolder;
						}
						thead {
							th {
								color: lighten($color0, 20%);
							}
						}
						
						td {
							color: rgb(0,0,0);
							padding: 5px;
							text-align: right;
							cursor: pointer;
							&.select {
								background-color: $appBackground;
								color: $referenceColor;
								border-radius: 100px;
								cursor: default;
							}
							&.non-active {
								color: $color1;
								cursor: default;
							}
						}
					}

				}
			}
			.button-container {
				@include lineDirection();
				justify-content: flex-end;
				margin: 10px 0;
				margin-right: 5%;
				button {
					text-transform: uppercase;
					padding: 1%;
					border: none;
					background-color: $referenceColor;
					color: $appBackground;
					cursor: pointer;
					&:first-child {
						margin-right: 5%;
					}
				}
			}
		}
	}

	.Flights {
		@include shield(0, 0);
		background-color: $referenceColor;
		width: 100%;
		height: 100%;
		box-shadow: 0 0 5px 0 rgb(0,0,0);
		overflow-y: hidden;
		.wrap-content {
			position: relative;
			.head {
				@include lineDirection();
				justify-content: flex-start;
				align-items: center;
				padding-top: 10px;
				padding-left: 10px;
				margin-bottom: 20px;
				.back {
					width: 15px;
					height: 15px;
					transform: rotate(45deg);
					color: $appBackground;
					border: 3px solid $appBackground;
					border-top: none;
					border-right: none;
					cursor: pointer;
				}
				.text {
					@include lineDirection();
					width: 100%;
					justify-content: center;
					align-items: center;
					.image {
						width: 20px;
						height: 20px;
						background: url(../images/aircraftBlueRight.png);
						background-size: 100% 100%;
					}
					p {
						color: $appBackground;
						padding: 0 10px;
						font-weight: bolder;
					}
				}
			}
			.prompt {
				@include lineDirection();
				justify-content: center;
				align-items: center;
				background-color: rgba(211, 217, 232, 0.5);
				padding: 10px 0;
				margin-bottom: 10px;
				color: $color0;
				span {

				}
			}
			.directions {
				@include lineDirection();
				margin-bottom: 10px;
				div {
					@include lineDirection();
					justify-content: center;
					align-items: center;
					width: 50%;
					height: 40px;
					span {
						margin: 0 10px;
					}
					&:first-child {
						border-right: 2px solid rgba(0, 0, 0, 0.2);
						
						.image {
							background: url(../images/aircraftSmallGrey.png);
							@include image(15px, 15px);
							border: none;
							margin-left: 10px;
						}
						span {
							color: lighten($grey, 40%);

						}

					}
					&:last-child {

						.image {
							background: url(../images/aircraftSmallGrey.png);
							transform: rotate(180deg);
							@include image(15px, 15px);
							border: none;
							margin-left: 10px;
						}
						span {
							color: lighten($grey, 40%);

						}

					}
					&.active {
						.image {
							background-image: url(../images/aircraftSmallBlue.png);
						}
						span {
							color: $appBackground;
						}
					}
					
				}
				/* .from {
					border: 2px solid rgba(0, 0, 0, 0.5);
					
				}
				.to {

				} */				
			}
			.weather-block {
				//@include columnDirection();
				padding: 10px;
				height: 140px;
				overflow-y: auto;
				.day {
					border-bottom: 2px solid $color0;
					padding-bottom: 5px;
					& > p {
						text-align: center;
						color: $color0;
					}
					margin-bottom: 10px;
					ul.hours {
						margin-bottom: 20px;
						list-style: none;
						& > p {
							color: $grey;
							text-align: left;
							margin-bottom: 5px;
						}
						li {
							margin: 0 0 5px 25px;
							span {
								color: $color0;
							}
							span:first-child {
								color: $appBackground;
								font-weight: bolder;
							}
						}
					}
					&:last-child {
						border: none;
					}
				}
			}
		}
	}
}

.reference {
	border: 2px solid $referenceColor;
	border-radius: 100px;
	width: 15px;
	height: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	span {
		font-size: 75%;
		transform: rotate(180deg);
	}
}

//