* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: arial;
  color: white; }

#root {
  width: 100%;
  height: 500px;
  padding-top: 1%; }

.App {
  background-color: #0080FF;
  width: 20%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 1600px) {
    .App {
      width: 20%; } }
  @media screen and (max-width: 1200px) {
    .App {
      width: 30%; } }
  @media screen and (max-width: 800px) {
    .App {
      width: 50%; } }
  @media screen and (max-width: 640px) {
    .App {
      width: 70%; } }
  @media screen and (max-width: 400px) {
    .App {
      width: 100%; } }
  .App .Head {
    height: 10%;
    background: url(../images/logo.png) no-repeat;
    background-size: 80px 100%;
    background-position: left top;
    position: relative;
    margin-bottom: 20px; }
    .App .Head .reference {
      position: absolute;
      top: 5px;
      right: 10px; }
  .App .Navigation {
    margin-top: 15px; }
    .App .Navigation nav ul {
      list-style: none;
      text-transform: uppercase;
      font-size: 50%;
      display: flex;
      flex-direction: row; }
      .App .Navigation nav ul li {
        text-align: center;
        flex-grow: 1;
        padding-bottom: 5px; }
        .App .Navigation nav ul li.active {
          font-weight: bolder;
          border-bottom: 2px solid white; }
  .App .Route {
    padding-top: 2%;
    padding-right: 10%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    position: relative; }
    .App .Route .path {
      flex-grow: 1;
      display: flex;
      flex-direction: row; }
      .App .Route .path .image {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 90%;
        margin: 0 auto;
        padding-top: 15%; }
        .App .Route .path .image div {
          border-left: 1px dashed white;
          height: 80%;
          margin: 0 auto; }
        .App .Route .path .image div:first-child {
          width: 5px;
          height: 5px;
          margin: 0;
          border: 1px solid white;
          border-radius: 100px; }
        .App .Route .path .image div:last-child {
          width: 5px;
          height: 5px;
          margin: 0;
          border: 1px solid white;
          border-radius: 100px;
          justify-content: center;
          align-items: center; }
          .App .Route .path .image div:last-child p {
            border-radius: 100px;
            background-color: white;
            width: 3px;
            height: 3px;
            margin-top: 1px;
            margin-left: 1px; }
    .App .Route .directions {
      position: relative;
      flex-grow: 4;
      flex-direction: column; }
      .App .Route .directions .direction {
        height: 50%;
        font-size: 70%;
        font-weight: normal;
        border-bottom: 1px solid white;
        padding-bottom: 4px;
        cursor: pointer; }
        .App .Route .directions .direction:nth-child(2n) {
          border: none;
          padding-top: 10px;
          padding-bottom: 0; }
        .App .Route .directions .direction span {
          font-size: 50%;
          opacity: 0.8; }
      .App .Route .directions .castling {
        position: absolute;
        right: 0;
        top: 40%;
        transform: rotate(45deg);
        padding: 1px 4px;
        background-color: #00008c;
        border-radius: 3px;
        cursor: pointer; }
        .App .Route .directions .castling:hover span {
          opacity: 0.8; }
        .App .Route .directions .castling span {
          display: inline-block;
          transform: rotate(45deg); }
  .App .RouteDetails {
    border: 1px solid white;
    border-left: none;
    border-right: none;
    padding: 5px 0; }
    .App .RouteDetails .wrap {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      padding-left: 17%;
      height: 45px; }
      .App .RouteDetails .wrap .date-block {
        display: flex;
        flex-direction: column;
        align-self: center;
        font-size: 80%;
        cursor: pointer; }
        .App .RouteDetails .wrap .date-block span {
          font-size: 60%;
          margin-bottom: 5px; }
      .App .RouteDetails .wrap .date-block:first-child {
        margin-right: 20%; }
      .App .RouteDetails .wrap .add {
        padding: 10px 1%;
        background-color: #00008c;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 10px;
        padding: 0 10px; }
        .App .RouteDetails .wrap .add:active {
          color: gray;
          background-color: #0000bf; }
      .App .RouteDetails .wrap .remove {
        width: 10px;
        height: 10px;
        margin-left: 10px;
        transform: rotate(45deg);
        padding: 1px;
        cursor: pointer; }
  .App .Tickets {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding-left: 17%; }
    .App .Tickets .ticket-count {
      display: flex;
      flex-direction: column;
      margin-right: 10%;
      padding-top: 30px;
      justify-content: flex-end;
      position: relative; }
      .App .Tickets .ticket-count .add, .App .Tickets .ticket-count .remove {
        text-align: center;
        padding: 4px 0;
        cursor: pointer;
        width: 100%; }
      .App .Tickets .ticket-count .add {
        position: absolute;
        top: 0;
        left: 0; }
      .App .Tickets .ticket-count .wrap {
        display: flex;
        flex-direction: row;
        align-items: flex-end; }
        .App .Tickets .ticket-count .wrap p {
          font-size: 70%; }
        .App .Tickets .ticket-count .wrap img {
          width: 20px;
          height: 30px;
          margin-left: 10px; }
      .App .Tickets .ticket-count span {
        font-size: 40%;
        padding: 10px 0 5px 0;
        text-align: center; }
      .App .Tickets .ticket-count:nth-child(2) img {
        width: 15px;
        height: 20px; }
      .App .Tickets .ticket-count:nth-child(3) img {
        width: 10px;
        height: 15px; }
  .App .SearchTickets {
    bottom: 0;
    background-color: #00008c;
    padding: 5px;
    cursor: pointer; }
    .App .SearchTickets p {
      text-align: center; }
  .App .Loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #32c8ff; }
    .App .Loading .sidebar {
      position: absolute;
      top: 45%;
      left: 45%;
      width: 50px;
      height: 50px;
      background: url(../images/icons/reload.png) no-repeat;
      background-size: 100% 100%;
      background-position: 0% 0%;
      animation: rotate-load 1s infinite linear; }

@keyframes rotate-load {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
  .App .ListCities {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    overflow: hidden;
    background-color: #0080FF;
    padding: 5% 5% 5% 5%; }
    .App .ListCities .close {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 150%;
      transform: rotate(45deg);
      cursor: pointer; }
    .App .ListCities .wrap-content {
      display: flex;
      flex-direction: row; }
      .App .ListCities .wrap-content .wrap-image {
        padding-top: 10px;
        margin-right: 20px; }
        .App .ListCities .wrap-content .wrap-image .image {
          width: 5px;
          height: 5px;
          margin: 0;
          border: 1px solid white;
          border-radius: 100px;
          justify-content: center;
          align-items: center; }
          .App .ListCities .wrap-content .wrap-image .image p {
            border-radius: 100px;
            background-color: white;
            width: 3px;
            height: 3px;
            margin-top: 1px;
            margin-left: 1px; }
      .App .ListCities .wrap-content .wrap-list {
        width: 70%;
        display: flex;
        flex-direction: column; }
        .App .ListCities .wrap-content .wrap-list .search-input {
          padding-bottom: 1px;
          margin-bottom: 10px; }
          .App .ListCities .wrap-content .wrap-list .search-input input {
            background-color: #0080FF;
            border: none;
            color: white; }
        .App .ListCities .wrap-content .wrap-list .text {
          font-size: 40%;
          border-bottom: 1px solid white;
          padding-bottom: 5px;
          margin-bottom: 10px; }
        .App .ListCities .wrap-content .wrap-list ul {
          list-style: none;
          height: 400px;
          overflow: auto; }
          .App .ListCities .wrap-content .wrap-list ul li {
            padding: 5px 5px;
            margin-bottom: 10px;
            cursor: pointer; }
            .App .ListCities .wrap-content .wrap-list ul li.select {
              color: rgba(0, 0, 0, 0.5);
              opacity: 0.8; }
  .App .Calendar {
    position: absolute;
    top: 5%;
    left: 30%;
    height: 270px;
    overflow-y: hidden;
    background-color: white;
    box-shadow: 0 0 5px 0 black; }
    .App .Calendar .wrap-content {
      width: 100%;
      height: 100%; }
      .App .Calendar .wrap-content .head {
        padding: 5px;
        text-transform: lowercase;
        background-color: #0080FF; }
        .App .Calendar .wrap-content .head p:first-child {
          font-size: 50%; }
      .App .Calendar .wrap-content .month-list {
        background-color: white;
        height: 70%;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 5%;
        margin-bottom: 10px;
        padding-top: 10px;
        font-size: 50%; }
        .App .Calendar .wrap-content .month-list .month {
          margin-bottom: 10px; }
          .App .Calendar .wrap-content .month-list .month table caption {
            margin-bottom: 10px;
            color: black;
            font-weight: bolder; }
          .App .Calendar .wrap-content .month-list .month table thead th {
            color: #737373; }
          .App .Calendar .wrap-content .month-list .month table td {
            color: black;
            margin: 0;
            padding: 5px;
            text-align: right;
            cursor: pointer; }
            .App .Calendar .wrap-content .month-list .month table td.select {
              background-color: #0080FF;
              color: white;
              border-radius: 100px;
              cursor: default; }
            .App .Calendar .wrap-content .month-list .month table td.non-active {
              color: gainsboro;
              cursor: default; }
      .App .Calendar .wrap-content .button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 10px 0;
        margin-right: 5%; }
        .App .Calendar .wrap-content .button-container button {
          text-transform: uppercase;
          padding: 1%;
          border: none;
          background-color: white;
          color: #0080FF;
          cursor: pointer; }
          .App .Calendar .wrap-content .button-container button:first-child {
            margin-right: 5%; }
  .App .Flights {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px 0 black;
    overflow-y: hidden; }
    .App .Flights .wrap-content {
      position: relative; }
      .App .Flights .wrap-content .head {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px; }
        .App .Flights .wrap-content .head .back {
          width: 15px;
          height: 15px;
          transform: rotate(45deg);
          color: #0080FF;
          border: 3px solid #0080FF;
          border-top: none;
          border-right: none;
          cursor: pointer; }
        .App .Flights .wrap-content .head .text {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: center;
          align-items: center; }
          .App .Flights .wrap-content .head .text .image {
            width: 20px;
            height: 20px;
            background: url(../images/aircraftBlueRight.png);
            background-size: 100% 100%; }
          .App .Flights .wrap-content .head .text p {
            color: #0080FF;
            padding: 0 10px;
            font-weight: bolder; }
      .App .Flights .wrap-content .prompt {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgba(211, 217, 232, 0.5);
        padding: 10px 0;
        margin-bottom: 10px;
        color: #404040; }
      .App .Flights .wrap-content .directions {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        /* .from {
					border: 2px solid rgba(0, 0, 0, 0.5);
					
				}
				.to {

				} */ }
        .App .Flights .wrap-content .directions div {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 50%;
          height: 40px;
          cursor: pointer; }
          .App .Flights .wrap-content .directions div span {
            margin: 0 10px; }
          .App .Flights .wrap-content .directions div:first-child {
            border-right: 2px solid rgba(0, 0, 0, 0.2); }
            .App .Flights .wrap-content .directions div:first-child .image {
              background: url(../images/aircraftSmallGrey.png);
              background-repeat: no-repeat;
              width: 15px;
              height: 15px;
              background-size: 100% 100%;
              border: none;
              margin-left: 10px; }
            .App .Flights .wrap-content .directions div:first-child span {
              color: rgba(102, 102, 102, 0.5); }
          .App .Flights .wrap-content .directions div:last-child .image {
            background: url(../images/aircraftSmallGrey.png);
            transform: rotate(180deg);
            background-repeat: no-repeat;
            width: 15px;
            height: 15px;
            background-size: 100% 100%;
            border: none;
            margin-left: 10px; }
          .App .Flights .wrap-content .directions div:last-child span {
            color: rgba(102, 102, 102, 0.5); }
          .App .Flights .wrap-content .directions div.active .image {
            background-image: url(../images/aircraftSmallBlue.png); }
          .App .Flights .wrap-content .directions div.active span {
            color: #0080FF; }
      .App .Flights .wrap-content .weather-block {
        padding: 10px;
        height: 140px;
        overflow-y: auto; }
        .App .Flights .wrap-content .weather-block .day {
          border-bottom: 2px solid #404040;
          margin-bottom: 30px; }
          .App .Flights .wrap-content .weather-block .day > p {
            background-color: #00008c;
            text-align: center;
            color: white;
            padding: 5px 0;
            margin-bottom: 20px; }
          .App .Flights .wrap-content .weather-block .day .hours {
            border: none;
            margin-bottom: 20px;
            list-style: none; }
            .App .Flights .wrap-content .weather-block .day .hours caption {
              background-color: rgba(0, 0, 0, 0.5);
              color: white;
              text-align: left;
              padding: 5px;
              margin-bottom: 15px;
              border-radius: 100px; }
            .App .Flights .wrap-content .weather-block .day .hours tbody tr {
              margin-bottom: 5px; }
              .App .Flights .wrap-content .weather-block .day .hours tbody tr td {
                color: #404040;
                padding: 5px;
                border-radius: 4px; }
                .App .Flights .wrap-content .weather-block .day .hours tbody tr td:last-child {
                  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.5); }
                .App .Flights .wrap-content .weather-block .day .hours tbody tr td:first-child {
                  color: #0080FF;
                  font-weight: bolder;
                  padding-left: 25px;
                  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.5); }
              .App .Flights .wrap-content .weather-block .day .hours tbody tr:first-child td {
                box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5); }
          .App .Flights .wrap-content .weather-block .day:last-child {
            border: none; }

.reference {
  border: 2px solid white;
  border-radius: 100px;
  width: 15px;
  height: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .reference span {
    font-size: 75%;
    transform: rotate(180deg); }

/*# sourceMappingURL=style.css.map*/